# Compiled class file
*.class

# Log file
*.log

# Netbeans Files
nbproject/private/
nbproject/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
build.xml

# Package Files #
concatodf.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.odt
